+media-breakpoint-down(md)
  .banner-btn
    +margin('left', 1rem)
    +margin('top', 1rem)
    +margin('bottom', 3rem)
    padding: 1rem 0rem
    width: 50%



    margin-left: 0
  .join-now__text
    +padding('',2rem 2rem 0 0)
  .refer__banner
    +margin('',3rem 0.6rem 3rem 1.5rem)
  .add-section__heading
    ul
      margin: auto
      li
        display: inline-block
        font-size: .8rem
  // .category__item
  //   padding-right: 0rem
  .home__banner p:not(:nth-child(4))
    font-size: 3rem
  .home__banner span
    letter-spacing: 0rem
  .news__section
    +margin('top',1.5rem)
  .footer
    text-align: center
  .footer__description
    text-align: center
    font-size: 1.2rem
  .footer__social-icons
    text-align: center
  .merchant
    h3
      text-align: center
  .shopnow__button
    text-align: center
  .subscribe button
    padding: 1rem 0rem
  .deals__section-content
    padding: 3rem 0rem
  .footer__category
    column-count: 1
  .footer__Cat
    ul
      li
        h4
          padding: 1rem
  .category-section__heading
    ul
      li
        padding-left: 0rem
        width: 50%

  .category-section__heading ul li:first-child
    width: 50%
  .right-padding .padding
    width: 50%

  .refer__field
    width: 100%
    font-size: 1rem
    text-align: center
    padding: 0rem
  .refer__username
    +margin('top',2rem)
  .side__content
    max-width: 200px;
    height: auto
    width: 100%
  .nav-tabs .nav-link
    width: 100%;
    text-align: center;
  .commingsoon
    width: 100%
  .gift__section__two
    text-align: center
    border-bottom: 2px solid #b7bfcd;
  .gift__section__three
    text-align: center
    border-bottom: 2px solid #b7bfcd;
  .gift__section__left
    border-left: none
  .text-right
    text-align: center !important
  .membership
    width: 100%
  .membership__box
    padding: 2rem .5rem
  .eclips
    margin: 1rem auto
  .contactus__form
    padding: 2rem .5rem
  .contactus__field
    width: 100%
    margin-bottom: 1rem
  .contactus__textarea
    width: 100%
  .navbar__list div:first-child
    text-align: center
    padding: .5rem 0rem
  .navbar__list div:not(:first-child)
    margin-left: 0rem
    text-align: center
    width: 100%
    padding: .5rem 0rem
  .dropdownnav
    margin: -1rem !important
  .top-navbar__select-country
    width: 100%
    padding: 0.5rem 1rem
    text-align: center
    margin-top: -2rem
  .top-navbar__join-btn
    margin-top: 1rem
  .howcashback__text
    padding-top: 0rem
  .logout__container
    text-align: center
  .navbar-nav .dropdown-menu
    background: map-get($fontColor,'blue')
    border: none
  .dropdown-item
    font-size: .7rem
  .auth-right__signUp
    input
      width: 100%
  .signup__select
    width: 100%
  .auth-modal__right-side
    padding: 3rem 0 0 0
  .auth-modal__left-side
    border-radius: 2rem 2rem 0rem 0rem
  .calculator__result
    padding: 2rem
    p
      font-size: .9rem
  .coming__soon
    width: 100%
  .category-slider
    padding: 0
  .home-category
    padding-right: 45px
    padding-left: 35px
    padding-top: 0px
    padding-bottom: 0px
  .terms-conditions__heading-box
    position: static
  // .auth-modal__left-side
  //   display: none
  .__react_component_tooltip
    margin: 1rem
  .slick-next:before, .slick-prev:before
    font-size: 30px !important
  .home__category-list
    a
      img
        width: 80%

  .cashtext
    padding: 2rem 0rem
  .vipbanner-text
    text-align: center
    padding: 2rem 0rem 0rem
  .vip__description
    text-align: center
  .bluetext
    text-align: center
  .calculator-heading
    font-size: 6.5vw
  .myearnings-tabs
    ul
      li
        margin: 0.3rem
        span
          font-size: .9rem
  .category__banner
    h3
      font-size: 3vw
  .join-now__logo
    padding: 2rem
    width: 100%

  .landing__join
    background-size: cover
    background-repeat: no-repeat
    background-position: center left
    text-align: center
    padding: 2rem
  .referlanding__join
    background-size: cover
    background-repeat: no-repeat
    background-position: center left
    text-align: center
    padding: 2rem
  .referbanner-btn
    +margin('top', 1rem)
    +margin('bottom', 3rem)
    padding: 1rem 0rem
    width: 50%