+media-breakpoint-down(md)
+media-breakpoint-down(lg)
  // .navbar
  //   display: none

  .top-navbar__select-country,
  .top-navbar__select-language
    +margin('', 1rem auto 0)

  .top-navbar__search
    width: auto
  .mobilenav__list
    list-style: none
    +margin('top',.5rem)
    li
      +margin('top',.2rem)
      a
        color: map-get($fontColor,'white')
        text-decoration: none
        &:hover
          color: map-get($fontColor,'yellow')
+media-breakpoint-up(xl)
  // .mobile
  //   display: none
