+media-breakpoint-down(md)
+media-breakpoint-down(lg)
  // .navbar
  //   display: none

  .top-navbar__select-country,
  .top-navbar__select-language
    +margin('', 1rem 0)

    text-align: left

  .top-navbar__search
    width: auto

  .mobilenav__list
    list-style: none

    +margin('top', 0.5rem)

    li
      +margin('top', 0.2rem)

      a
        color: map-get($fontColor, 'white')
        text-decoration: none

        &:hover
          color: map-get($fontColor, 'yellow')

  .upgradeVIP
    width: auto


+media-breakpoint-up(xl)
  // .mobile
  //   display: none
