.cashback__banner
  @extend .category__banner
.membership
  height: 300px
  width: 297px

.cashback__description
  font-size: .95rem;

.cashback__intro
  +margin('top',2.5rem)

.affiliate__intro
  @extend .cashback__intro
  +margin('bottom', 2rem)

.cashback
  color: map-get($fontColor,'darkGray')
  +padding('',1.9rem)

.eclips
  width: 100px
  height: 100px
  background-color: map-get($fontColor,'yellow');
  border-radius: 50%
  padding-top: 1rem
  margin-left: 1rem

  margin-top: 1.5rem



.eclipscopy
  width: 57.5px
  height: 57.5px
  border: solid 0.5px map-get($fontColor,'black')
  border-radius: 50%

.mywallet-form
  input
    border: 1px solid map-get($fontColor,'white')
    border-radius: 2rem
    +margin('top',1rem)
    +margin('bottom',1rem)
    +padding('',1rem)
    background: transparentize(map-get($fontColor,'black'),1)
    color: map-get($fontColor,'white')
    &::placeholder
      color: white
      font-size: .7rem
  button
    @extend .savechanges
    +padding('',1rem 3rem)
    margin: 2rem 1rem
    text-align: center
    border-radius: 2rem
.wallet
  color: map-get($fontColor,'white')

.cashback__text
  font-size: 1.3rem;
  +padding('top',1rem)


.cashback__carddesc
  @extend .cashback__description
  +padding('top',.5rem)



.extrareward__img
  height: inherit
  width: inherit
  margin-bottom: 1rem;



.affiliate__border
  border-bottom: 0.2rem dashed map-get($fontColor,'darkGray')
  +margin('top',.9rem)

.affiliate__step
  color: map-get($fontColor,'yellow')
  font-size: 2rem
  +padding('',1rem 1rem 1rem 0rem)


.affiliate__text
  font-size: .95rem;


.howcashback__img
  width: 100%
  max-width: 735px

.howcashback__text
  font-size: 1.2rem
  +padding('top',3rem)

.cashbactext
  font-size: .9rem
  +margin('top  ',1rem)
  text-align: center

.cashback__img
  @extend .howcashback__img
  max-width: 500px

.vipcashback__img
  @extend .howcashback__img
  max-width: 900px
.cashtext
  +padding('',4rem)
