.category__banner
  // +padding('', 0rem 0 1rem 0)

  color: map-get($fontColor, 'black')
  bottom: 10%
  right: 0
  left: 0
  position: absolute

  h3
    font-size: 2rem
    font-weight: bolder
    font-family: 'Avenir LT Std 95 Black'
    text-transform: uppercase

  p
    font-size: 0.8rem

.filter-line
  width: inherit
  background: transparentize(map-get($fontColor, 'white'), 0.5)
  height: 0.1rem

.category__filter
  // background: map-get($fontColor, 'darkGray')
  color: map-get($fontColor, 'white')
  padding: 0

  input
    color: map-get($fontColor, 'darkGray')

    +margin('right', 0.5rem)

  +padding('top', 1rem)

  .filters:not(:first-child)
    +padding('top', 1rem)
    +padding('bottom', 1rem)

.category__content
  +margin('top', 2rem)

.category-section
  @extend .add-section

  +margin('', 0)
  +padding('', 0)

.category-section__heading
  @extend .add-section__heading

  +margin('top', 0)

.filters
  background: map-get($fontColor, 'darkGray')

  +margin('bottom', 2px)

  padding: 2rem 20px 10px 15px

.filter-div
  padding: 10px 0
