.banner-btn
  @extend .refer__banner

  +padding('', 1rem)
  +margin('left', 4rem)
  +margin('top', 7rem)

  background: map-get($fontColor, 'white')
  border: 0
  font-size: 1rem
  border-radius: 10rem
  width: 15rem
  color: map-get($fontColor, 'black')
  font-weight: normal
  letter-spacing: 0rem