.footer
  background: map-get($fontColor, 'darkGray')
  @include padding('',7rem 0rem 5rem 4rem)
  color: map-get($fontColor,'white')
  a
    color: transparentize(map-get($fontColor,'white'),0.3)
    text-decoration: none
    &:hover
      color: transparentize(map-get($fontColor,'yellow'),0.2)
  ul
    list-style: none
    li
      @include margin('top',0.5rem)


.footer__social-icons
  a:not(:first-child)
    @include margin('left',1rem)
.footer__links
  @include margin('top',0.5rem)
.footer__description
  color: transparentize(map-get($fontColor,'white'),0.3)
  text-justify: left
  text-align: left
  font-size: 0.7rem
  @include margin('', 1rem 0)