.footer
  background: map-get($fontColor, 'darkGray')

  +padding('', 7rem 0rem 5rem 0rem)

  color: map-get($fontColor, 'white')

  img
    width: 15rem

  a
    color: transparentize(map-get($fontColor, 'white'), 0.3)
    text-decoration: none

    &:hover
      color: transparentize(map-get($fontColor, 'yellow'), 0.2)

  ul
    list-style: none

    li
      +margin('top', 0.5rem)

.footer__social-icons
  a:not(:first-child)
    +margin('left', 1rem)

.footer__links
  +margin('top', 0.5rem)

.footer__description
  color: transparentize(map-get($fontColor, 'white'), 0.3)
  text-justify: left
  text-align: left
  font-size: 0.7rem

  +margin('', 1rem 0)
