.home__category
  background: map-get($sectionColor, 'blue')

  +padding('bottom', 2rem)

.home__category-list
  list-style: none

  +padding('', 2rem)
  +padding('bottom', 0rem)

  text-align: center

  p
    color: map-get($fontColor, 'white')

    +margin('top', 1rem)

    font-weight: bold

  li
    display: inline-block

    &:not(:first-child)
      +margin('left', 9rem)
