.home__banner
  padding: 8rem 0 5rem 0
  p:not(:nth-child(4))
    @include margin('',0)
    font-size: 4rem
    font-weight: bolder
  span:not(:first-child)
    @include margin('left',1.5rem)
  span
    font-size: 1.5rem
    letter-spacing: 0.5rem

.home__book-btn
  background: map-get($fontColor,'white')
  border-radius: 10rem
  width: 15rem
  padding: 1rem 2rem
  border: 0px