.join-now__logo
  @include padding('top',4rem)

.join-now__text
  @include padding('',4rem 2rem 0 0)
  font-size: 2.7rem
  color: map-get($fontColor,'white')
  font-weight: bolder
  line-height: 3rem
  text-align: right
  font-family: 'Avenir LT Std 95 Black'
  p
    text-align: right

.join-now
  @include margin('',0rem 0)