.myearnings-tabs
  +padding('top', 2rem)

  ul
    list-style: none

    li
      display: inline

      +margin('', 1rem 2rem)
.merchant__container
  +padding('',.5rem)
  background: map-get($fontColor,'leanGray')
  border-bottom: .1rem solid #ffec8d
  p
    font-family: 'Avenir LT Std 95 Black'
.term__container
  +padding('',2rem)
  background: map-get($fontColor,'leanGray')
  h6
    font-size: 1.5rem
    font-family: 'Avenir LT Std 95 Black'
  p
    font-size: .9rem

.gift__section
  background: map-get($fontColor,'lightyellow')
  text-align: center
  border-bottom: .1rem solid map-get($fontColor,'leanGray')
  +padding('',1rem)
.gift__section__two
  @extend .gift__section
  +padding('',2rem)
  border-bottom: none
  text-align: left
  font-weight: bold


.gift__section__left
  @extend .gift__section
  border-left: .1rem solid map-get($fontColor,'leanGray')

.gift__section__three
  @extend .gift__section__left
  border-bottom: none
  +padding('',2rem)
  text-align: left
  font-weight: bold


.referral__container
  background: map-get($fontColor,'leanGray')

.merchant
  text-align: center
  thead
    background: map-get($fontColor,'lightyellow')

.filter
  +margin('bottom',.5rem)

.tab
  background: map-get($fontColor,'leanGray')
  a
    color: black
    background: map-get($fontColor,'lightishGray')

.checkbox
  +margin('top',.5rem)

.merchant__list
    +margin('top',1.5rem)
    background: map-get($fontColor,'lightyellow')
    +padding('',1rem)

.profile__tab
  background: map-get($fontColor,'leanGray')
  +padding('',2rem)
.welcomegift__section
  +margin('top',3rem)
  h6
    text-align: center
    font-weight: bold


.refer__col__one
  h5
    +padding('top',1rem)
    font-size: 1rem
    font-weight: bold
    text-align: center
  h6
    +padding('top',1rem)
    font-size: .9rem
    font-weight: bold



.friendShip__container
  background: map-get($fontColor,'leanGray')

.friendship__amount
  background: map-get($fontColor,'white')
  +padding('',1rem 5rem 5rem 5rem)
  +margin('top',1rem)
  +margin('bottom',auto)


.amount__container
    background: map-get($fontColor,'lightyellow')
    width: 180px;
    height: 180px;
    border-radius: 50%;
    text-align: center
    +margin('left',4rem)
    +padding('top',0rem)
    +margin('bottom',2rem)

.amount
  +padding('top',4rem)
  font-family: 'Avenir LT Std 95 Black'
  font-size: 2rem

.amount__text
  @extend .amount
  font-size: 1.5rem


.friendship__button
  background: map-get($fontColor,'lightyellow')
  color: map-get($fontColor,'black')
  border: none
  width: 100%
  +padding('',.7rem)
  border-radius: 2rem
  +margin('',1rem 0rem 1rem 1rem)


.friendShip__detailtext
  background: map-get($fontColor,'whiteGray')
  +padding('',1rem)
  +margin('bottom', 1rem)
  +margin('right', .5rem)
.friendship__table
  @extend .merchant
  text-align: center
  thead
    +margin('right',5rem)
    tr
      font-size: bold
.vip__container
  +margin('top',1rem)
.bluetext
  color: map-get($fontColor,'logoblue')
  font-family: 'Avenir LT Std 95 Black'
.vip__desc
  color: map-get($fontColor,'darkGray')

.vipbanner-text
  font-family: 'Avenir LT Std 95 Black'
  position: absolute
  left: 0
  right: 0
  bottom: 10%

.vip__benfits
  border-radius: .8rem
  +padding('',1rem)
  border: 1px dotted #FFFFFF
.vip__text
  font-size: 1rem
  font-family: 'Avenir LT Std 95 Black'
.vip__benefitdesc
  font-size: 1.5rem

.calculator__form
  +margin('top',2rem)


.calculator__container
  background: map-get($fontColor,'blue')
  +padding('',1rem)
  border-radius: 2rem

.calculator__result
  +padding('',3rem)
  p
    text-align: center
    +padding('top',1rem)
    text-transform: uppercase
    font-family: 'Avenir LT Std 95 Black'
    color: map-get($fontColor,'white')

.calculator__rfield
  +padding('',2rem)
  width: inherit
  border-radius: 1rem
  outline: none
  border: none
  box-shadow: inset 0 0 20px #e1e1e1

.calculator__field
  border-radius: 1rem
  // +padding('',0rem 0rem 2rem 0rem)
  // height: 5rem
  border: none
  outline: none
  width: 100%
  // +margin('bottom',1rem)
  +margin('right',1rem)
  text-align: center
  font-size: 1rem
.fieldText
  +padding('top',.5rem)
  text-transform: uppercase
  font-family: 'Avenir LT Std 95 Black'
  color: map-get($fontColor,'white')
  +margin('bottom',1rem)

.calculator-heading
  font-family: 'Avenir LT Std 95 Black'
  color: map-get($fontColor,'white')
.calculator__logo
  width: 2.5rem
  height: 3rem

.calculator__table
  @extend .merchant
  thead
    background: map-get($fontColor,'blue')


.vip__image
  width: 80%


.vip__button
  background: map-get($fontColor,'yellow')
  border: none
  +margin('top',2rem)
  font-size: .9rem
  +padding('', .5rem 2rem)
  border-radius: 2rem
  outline: none
  font-family: 'Avenir LT Std 95 Black'
  i
    font-size: 1rem


.calbutton
  @extend .vip__button
  +padding('', .9rem 4rem)
  font-family: 'Avenir LT Std 95 Black'
  text-transform: uppercase

.favmerchant
  thead
    background: map-get($fontColor, 'anotherGray')
    color: map-get($fontColor,'white')
  tbody
    background-color: map-get($fontColor,'lightGray')
.fa-info-circle
  font-size: .7rem

.coming__soon
  img
    width: 100%