.navbar
  background: map-get($sectionColor, 'blue')
  +margin('top', .2rem)
  +padding('',1.2rem)

.navbar__list
  font-size: 0.8rem

  div:not(:first-child)
    +margin('left', 8rem)

  a
    color: map-get($fontColor, 'black')
    text-decoration: none
    text-transform: uppercase
    &:hover
      // border-bottom: 1px solid map-get($fontColor,'white' )
      color: map-get($fontColor, 'yellow')
.navbar__list div:not(:first-child)
  +margin('left',6rem)
.navbar__list
  a
    &:hover
      color: map-get($fontColor,'yellow')
.dropdownnav
  margin: -.5rem !important
.secondary__nav
  +padding('',0.2rem 5rem 0rem 5rem)
.chinese__nav
  +padding('',0.2rem 5rem 0rem 12rem)
.navbar-expand-lg .navbar-nav .dropdown-menu
  margin: 0rem
