.refer__banner
  @include margin('', 8rem 0 6rem 7.5rem)
  font-size: 2rem
  color: map-get($fontColor,'white')
  font-weight: bolder
  letter-spacing: 0.5rem

.refer__banner-btn
  @extend .refer__banner
  @include padding('',1rem)
  @include margin('left', 10rem)
  background: map-get($fontColor, 'white')
  border: 0
  font-size: 1rem
  border-radius: 10rem
  width: 15rem
  color: map-get($fontColor, 'black')
  font-weight: normal
  letter-spacing: 0rem