.auth-modal__left-side
  +padding('', 3rem)
  background: map-get($fontColor,'blue')

.auth-modal__right-side
  +padding('', 2rem 0 2rem 2rem)

.auth-left__signup, .auth-left__signin
  color: map-get($fontColor, 'white')

  +margin('top', 2.5rem)

  h2
    font-size: 2.2rem

  p
    color: transparentize(map-get($fontColor, 'white'), 0.2)

  button
    +margin('top', 5rem)

    color: map-get($fontColor, 'black')
    background: map-get($fontColor, 'yellow')
    border: 0
    outline: 0

    +padding('', 1.2rem 4rem)

    border-radius: 2rem

.auth-right__signIn, .auth-right__signUp, .auth-right__forgot
  text-align: center

  +padding('', 3rem 0)

  input
    +padding('', 0.5rem 1.5rem)
    +margin('', 0.5rem 0)

    width: 20rem
    border: 1.8px solid transparentize(map-get($fontColor, 'gray'), 0.7)
    border-radius: 2rem
    outline: 0px

  input[type='checkbox']
    +padding('', 0)
    +margin('', 1rem 0 0 0)

    width: 1rem

  span
    color: map-get($fontColor, 'black')
    font-weight: 400

.forgot-password__container
  position: relative
  text-align: center

  button
    font-size: 0.8rem
    background: none
    border: 0px
    position: absolute
    top: 5rem
    left: 5rem

    &:hover
      text-decoration: underline

  // +padding('top', 5rem)

.auth-right__signIn-btn, .auth-right__forgot-btn
  color: map-get($fontColor, 'black')
  background: map-get($fontColor, 'yellow')
  border: 0
  outline: 0

  +margin('', 2rem 0 0 0)
  +padding('', 1rem 4rem)

  border-radius: 2rem

.auth-right__signUp-btn
  @extend .auth-right__signIn-btn

  +margin('', 0rem 0 0 0)
  +padding('', 1rem 4rem)
