.auth-modal__left-side


  background: map-get($fontColor, 'blue')
  border-radius: 2rem 0rem 0rem 2rem
  text-align: center

.bg-img
  +padding('', 3rem 1rem)
  background-image: url('/images/bg-img-left.png')
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom

.auth-modal__right-side
  +padding('', 3rem 0 2rem 2rem)
  background: "#ebeded"
  h3
    +margin('', 3rem 0rem)
    font-family: 'Avenir LT Std 95 Black'
.auth-left__signup, .auth-left__signin

  color: map-get($fontColor, 'black')
  font-family: 'Avenir LT Std 85 Heavy'
  +margin('top', 2.5rem)

  h2
    font-size: 2.2rem

  p
    color: transparentize(map-get($fontColor, 'black'), 0.2)

  button
    +margin('top', 5rem)

    color: map-get($fontColor, 'black')
    background: map-get($fontColor, 'yellow')
    border: 0
    outline: 0

    +padding('', 1.2rem 4rem)

    border-radius: 2rem

.auth-right__signIn, .auth-right__signUp, .auth-right__forgot
  text-align: center

  +padding('', 3rem 0)

  input
    +padding('', 0.7rem 1.5rem)
    +margin('', 0.5rem 0)

    width: 20rem
    border: 2px solid transparentize(map-get($fontColor, 'gray'), 0.7)
    border-radius: 2rem
    outline: 0px

  input[type='checkbox']
    +padding('', 0)
    +margin('', 1rem 0 0 0)

    width: 1rem

  span
    color: map-get($fontColor, 'black')
    font-weight: 400

.forgot-password__container
  position: relative
  text-align: center

  button
    font-size: 0.8rem
    background: none
    border: 0px
    position: absolute
    top: 5rem
    left: 5rem

    &:hover
      text-decoration: underline

  // +padding('top', 5rem)

.auth-right__signIn-btn, .auth-right__forgot-btn
  color: map-get($fontColor, 'black')
  background: map-get($fontColor, 'blue')
  border: 0
  outline: 0

  +margin('', 4rem 0 0 0)
  +padding('', 1rem 4.5rem)

  border-radius: 2rem

.auth-right__signUp-btn
  @extend .auth-right__signIn-btn

  +margin('', 1rem 0 0 0)
  +padding('', 1rem 4rem)

.myaccount
  background: none
  border: none
  outline: none

.signup_country
  border-radius: 2rem
  border: 2px solid map-get($fontColor, 'lightGray')

  // text-align: left

  +padding('', 0.5rem)
  +margin('', 0.8rem)

  a
    text-decoration: none


.signUp-heading
  font-family: 'Avenir LT Std 85 Heavy'
  +margin('top',2.2rem)


.signup__selectlabel,
  font-family: 'Avenir LT Std 85 Heavy'

.terms
  font-size: 0.9rem
  font-family: 'Avenir LT Std 85 Heavy'


.signup__select
  width: 20rem
  border-radius: 2rem
  height: 47px
  background: none
  padding-left: 11px
  padding-top: 7px
  outline: none
  border: 2px solid map-get($fontColor,'lightGray')
